KotlinApp/*.iml
KotlinApp/.gradle
KotlinApp/local.properties
KotlinApp/.idea/caches
KotlinApp/.idea/libraries
KotlinApp/.idea/modules.xml
KotlinApp/.idea/workspace.xml
KotlinApp/.idea/navEditor.xml
KotlinApp/.idea/assetWizardSettings.xml
KotlinApp/.DS_Store
KotlinApp/build
KotlinApp/captures
KotlinApp/.externalNativeBuild
KotlinApp/.cxx
KotlinApp/local.properties